<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Explain Code"
            id="japl.java.plugin.eclipse.lm.commands.explainCode">
      </command>
      <command
            name="Generate Comments"
            id="japl.java.plugin.eclipse.lm.commands.generateComments">
      </command>
      <command
            name="Generate Tests"
            id="japl.java.plugin.eclipse.lm.commands.generateTests">
      </command>
      <command
            name="Send to Chat"
            id="japl.java.plugin.eclipse.lm.commands.sendToChat">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="japl.java.plugin.eclipse.lm.commands.explainCode"
            class="japl.java.plugin.eclipse.lm.handlers.ExplainCodeHandler">
      </handler>
      <handler
            commandId="japl.java.plugin.eclipse.lm.commands.generateComments"
            class="japl.java.plugin.eclipse.lm.handlers.GenerateCommentsHandler">
      </handler>
      <handler
            commandId="japl.java.plugin.eclipse.lm.commands.generateTests"
            class="japl.java.plugin.eclipse.lm.handlers.GenerateTestsHandler">
      </handler>
      <handler
            commandId="japl.java.plugin.eclipse.lm.commands.sendToChat"
            class="japl.java.plugin.eclipse.lm.handlers.SendToChatHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=additions">
         <menu
               label="LMStudio"
               id="japl.java.plugin.eclipse.lm.menus.mainMenu">
            <command
                  commandId="japl.java.plugin.eclipse.lm.commands.explainCode"
                  label="Explain Code"
                  style="push">
            </command>
            <command
                  commandId="japl.java.plugin.eclipse.lm.commands.generateComments"
                  label="Generate Comments"
                  style="push">
            </command>
            <command
                  commandId="japl.java.plugin.eclipse.lm.commands.generateTests"
                  label="Generate Tests"
                  style="push">
            </command>
            <command
                  commandId="japl.java.plugin.eclipse.lm.commands.sendToChat"
                  label="Send to Chat"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="LMStudio Chat"
            icon="icons/sample.gif"
            class="japl.java.plugin.eclipse.lm.views.ChatView"
            id="japl.java.plugin.eclipse.lm.views.chatView">
      </view>
   </extension>
</plugin>
